.footer {
  margin-top: 30px;
  background: url( '../images/footer.jpg' ) 50% 0 repeat-x;
  height: 206px;
  box-sizing: border-box;
  padding: 40px 0;
}

/*
.footer_social_links {
  float: left;
}

.footer_social_links li {
  float: left;
}

.footer_social_links li + li {
  margin-left: 20px;
}

.footer_social_links a.linkedin {
  background: $linkedin;
}

.footer_social_links a.github {
  background: $github;
}

.footer_social_links a {
  width: 41px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  display: inline-block;
}

.footer_social_links i {
  color: $white;
  font-size: 24px;
}

.footer_social_links a.github i {
  font-size: 30px;
  padding-top: 5px;
}
*/

.container.container--footer {
  display: table;
  width: 100%;
}

.footer_copyright {
  text-align: right;
}

.footer_copyright,
.footer_portfolio_artefacts {
  font-family: 'helvetica_black', sans-serif;
  color: $white;
  font-size: 18px;
  line-height: 41px;
  display: table-cell;
}

.footer_portfolio_artefacts {
  /*float: right;*/
}

.footer_portfolio_artefacts a + a {
  margin-left: 16px;
}

.footer_copyright_caption {
  color: $red;
  margin-right: 20px;
  /*float: left;*/
}

.footer_copyright img,
.footer_copyright div,
.footer_portfolio_artefacts img,
.footer_portfolio_artefacts div {
  vertical-align: middle;
  display: inline-block;
}

.footer_portfolio_artefacts_caption span {
  margin: 0 9px 0 13px;
}
