.home_intro__title {
  margin: 25px 0 0;
  font-family: 'helvetica_black', sans-serif;
  letter-spacing: 0.02em;
  font-size: 4.1rem;
  text-align: center;
}

.home_intro__title span {
  color: $red;
}

.home_intro__subtitle,
.home_intro__subtitle a {
  color: $black;
  font-family: 'molengo';
  letter-spacing: 0.02em;
  font-size: 3rem;
  text-align: center;
}

.home_intro__subtitle a {
  color: $gray2;
  border-bottom: 1px solid $red;
  position: relative;
}

.home_intro__subtitle a:hover {
  border-bottom: 1px solid $black;
}

.home_links {
  overflow: hidden; 
  margin: 70px auto 50px;
  width: 80%;
  text-align: center;  
}

.home_link {
  display: inline-block;
  width: 30%;
  text-align: center;
  position: relative;
}

.home_link:hover {
  a {
    color: $red !important;
  }
  .home_link_disc {
    background: $black !important;
  }
}

.home_link_disc {
  background: rgba(50,50,50,0.05);  
  cursor: pointer;
  width: 130px;
  height: 130px;
  border-radius: 65px;
  margin: 0 auto 10px;
  transition: all .3s ease;
}

.home_link a {
  color: $black;
  font-family: 'molengo'; 
  letter-spacing: 0.02em;
  font-size: 3rem;
  text-align: center;
  color: $gray2;
}

.home_link_disc:hover {
  background: $gray3;
}

.home_link:active {
  top: 1px;
}

/*
#intro_speech {
  padding-bottom: 1px;
}

#intro_speech a {
  border-bottom: 1px solid #ff4d66;
  position: relative;
}

#intro_speech a:hover {
  border-bottom-color: #1D1815;
  color: #D8CFC9;
}

#intro_speech a:active {
  top: 1px;
}
  
body #intro {
  color: #333;
}

body #intro a, 
#home_icons1 a, 
#home_icons2 a, 
#home_icons3 a {
  color: #d8cfc9;
}

p#intro_p1, {
  font-size: 2.8em;
  margin: 0 auto;
  line-height: 1.3em;
}

p#intro_p2, 
#home_icons1,
#home_icons2,
#home_icons3 {
  font-family: molengo; 
  letter-spacing: 0.02em;
  font-size: 1.8em;
}

p#intro_p2 {
  margin: 0.25em auto 0;
}

#home_icons {
  overflow: hidden; 
  margin: 4em auto;
  width: 80%;
}

#home_icons img {
  display: block; 
  margin: 0 auto;
  padding-top: 4px;
}

#home_icons1,
#home_icons2,
#home_icons3 {
  float: left;
  margin: 0;
  font-size: 1.8em;
  text-align: center;
  cursor: pointer;
  padding-bottom: 5px;
  position: relative; 
}

#home_icons1 {
  float: left;
  width: 33.3%;
}

#home_icons2 {
  float: left;
  width: 33.3%;
}

#home_icons3 {
  float: left;
  width: 33.3%;
}

*/










