@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
  font-family: 'helvetica_black';
  src: url( '/fonts/helveticaneueltstd-blk.eot' );
  src: url( '/fonts/helveticaneueltstd-blk.eot?#iefix' ) format( 'embedded-opentype' ),
       url( '/fonts/helveticaneueltstd-blk.woff' ) format( 'woff' ),
       url( '/fonts/helveticaneueltstd-blk.ttf' ) format( 'truetype' ),
       url( '/fonts/helveticaneueltstd-blk.svg#HelveticaNeueLTStdBlkRegular' ) format( 'svg' );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon/icomoon.eot?fo99fb');
  src:  url('/fonts/icomoon/icomoon.eot?fo99fb#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?fo99fb') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?fo99fb') format('woff'),
    url('/fonts/icomoon/icomoon.svg?fo99fb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
