@import "variables";
@import "normalize";
@import "fonts";
@import "media_queries";
@import "toast";
@import "single";

body {
  background: url('~assets/img/body.jpg') 50% 0 repeat;
  overflow-y: scroll;
}

div {
  box-sizing: border-box;
}

.wrap {
  background-color: $white;
  position: relative;
  overflow: hidden;
  padding: 70px 0 100px;
  @include media_600 {
    padding: 40px 0 50px;
  }
}

.content_wrap {
  padding: 50px 0;
}

.container {
  max-width: $content_width;
  margin: 0 auto;
  overflow: hidden;
  @include media_1300 {
    padding-left: $content_margin_desktop;
    padding-right: $content_margin_desktop;
  }
  @include media_600 {
    padding-left: $content_margin_mobile;
    padding-right: $content_margin_mobile;
  }
}

.overflow.container {
  margin-bottom: 2em;
  @include media_600 {
    margin-bottom: 0;
  }
}

a,
body,
div,
span,
p,
li,
textarea,
input,
select {
  @include regular_text;
  color: $black1;
}

p.container,
p {
  margin-bottom: 1.5em;
}

.button,
a {
  position: relative;

  &:active {
    top: 1px;
  }

  &.underline:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: $red;
    width: 100%;
  }
}

a.linktype1 {
  font-family: $helvetica_black;
  color: $red;
}

a.linktype2 {
  font-family: $helvetica_black;
  color: $white;
}

h1 {
  @include page_heading;
  margin: 0 0 30px;
  
  @include media_600 {
    margin: 0 0 15px;
  }
}

h2,
h2 span {
  @include section_heading;
  margin: 0 0 30px;
  @include media_600 {
    margin: 0 0 20px;
  }
}

p + h2,
p + h3 {
  margin-top: 2em;
}

h3 {
  @include subsection_heading;
  margin: 0 0 15px;
  @include media_600 {
    margin: 0 0 10px;
  }
}

h3.container {
  margin-bottom: 15px;
}

.content a {
  border-bottom: 1px solid $black1;
}

.content_ul li,
.content li {
  position: relative;
  padding-left: 25px;
}

.content_ul li:before,
.content li:before {
  position: absolute;
  left: 0;
  top: 4px;
  font-family: 'icomoon' !important;
  font-size: 15px;
  content: "\ea1c";
}

.content .alignleft {
  float: left;
}

.header_with_subtitle {
  margin-bottom: 25px;
}

.header_with_subtitle h1 {
  margin-bottom: 10px;
}

.page_header {
  margin-bottom: 60px;
  @include media_768 {
    background: none !important;
    padding-right: 0 !important;
  }
}

.page_title {
  @include page_heading;
}

.page_summary {
  color: $gray4;
  @include page_summary;
  @include media_768 {
    width: 100% !important;
  }
  @include media_600 {
    margin-bottom: 0;
  }
}

.page_summary strong {
  color: $gray3;
}

.page_header_link {
  @include page_summary;
  color: $red;
  border-bottom: 1px solid $red;
}

label {
  display: block;
  margin-bottom: 10px;
  @include label;
}

input {
  width: 320px;
  @include media_768 {
    width: 100%;
  }
}

input,
textarea {
  padding: 8px 10px;
  border: 1px solid $gray8;
  line-height: 1;
  color: $black3;
  border-radius: 3px;
  background: $gray0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  min-height: 240px;
}

label span {
  font-family: $helvetica_black;
  font-size: 22px;
  color: $red;
}

.button {
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 0.02em;
  font-family: $helvetica_black;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  display: block;
  background: $gray0;
  border-color: $gray8;
  border-style: solid;
  border-width: 1px;
  color: $black1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 0 $white inset;
  text-shadow: 0px 2px 1px $white;
}

.button:hover {
  color: $black2;
  background: $gray95;
}

.footnote {
  @include footnote;
}

iframe {
  width: 100%;
  height: 100%;
  position: relative;
  border:0;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
