/*
.button1 {
  padding: 10px 20px 5px;
  text-align: center;
  border: 3px solid $gray4;
  color: $light_red !important;
  text-transform: uppercase;

  &:hover {
    color: $gray4;
  } 
}

.button2 {
  display: block;
  padding: 2px 0;
  text-align: center;
  border: 2px solid $white;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  @include font-family('roboto_regular');

  &:hover {
    color: $light_red;
    background: $white;
  } 
}
*/
