.footer {
  background: url( '../images/footer.jpg' ) 50% 0 repeat-x;
  height: 206px;
  box-sizing: border-box;
  padding: 40px 0;  
  @include media_768 {
    padding-top: 48px;
  }
}

.container.container--footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}

.footer__github,
.footer__copyright {
  color: $white;
}

.footer__github {
  display: flex;
  align-items: center;
  transform: translateY(6px);
}

.git {
  margin-right: 1em;
}

.footer__github {
  @include top_menu;
}

.footer__github a {
  margin-left: 0.5em;
}

.footer__copyright {
  margin-right: 35px;
  @include media_600 {
    display: none;
  }
}

.header__branding--footer {
  transform: scale(0.9);
}
