.footer {
  background: url( '../images/footer.jpg' ) 50% 0 repeat-x;
  height: 206px;
  box-sizing: border-box;
  padding: 40px 0;
  @include mq_768 {
    padding-top: 48px;
  }
}

.container.container--footer {
  display: table;
  width: 100%;
  overflow: visible;
  @include mq_1225 {
    box-sizing: border-box;
  }
}

.footer_logos_copyright,
.footer_portfolio_artefacts {
  font-family: 'helvetica_black', sans-serif;
  color: $white;
  font-size: 18px;
  line-height: 41px;
  display: table-cell;
}

.footer_logos_copyright {
  float: left;
  margin-top: -3px;
  @include mq_1024 {
    margin-top: -6px;
  }
  @include mq_768 {
    margin-top: -7px;
  }
}

.footer_logos_copyright img + img {
  margin-left: 15px;
  @include mq_600 {
    margin-left: 12px;
  }
  @include mq_350 {
    margin-left: 9px;
  }
}

.git,
.sass,
.gulp {
  @include mq_1225 {
    transform: scale(0.95);
  }
  @include mq_1024 {
    transform: scale(0.85);
  }
  @include mq_768 {
    transform: scale(1);
  }
}

.footer_copyright {
  display: inline-block;
  margin-left: 40px;
  color: $red;
}

.footer_portfolio_artefacts {
  float: right;
}

.footer_portfolio_artefacts a + a {
  margin-left: 16px;
}

.git,
.sass,
.gulp,
.footer_copyright,
.footer_sample,
.footer_portfolio_artefacts__caption {
  vertical-align: middle;
  display: inline-block;
}

.footer_portfolio_artefacts .footer_portfolio_artefacts_caption {
  @include mq_768 {
    display: none;
  }
}

.footer_portfolio_artefacts__caption span {
  margin: 0 9px 0 13px;
}
