.banner {  
  width: 100%;  
  background: url(../images/header.jpg) 50% 0 repeat-x;  
  @include media_600 {
    display: none;
  }
}

.container.container--nav_primary {
  overflow: visible;
}

.container.container--header {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media_1225 {
    box-sizing: border-box;
  }
}

.banner,
.container.container--header {
  height: 152px;
  @include media_800 {
    height: 120px;
  }
}

.header__branding {
  width: 215px;
  height: 100%;
  display: block;
  position: relative;
}

.header__branding:active {
  top: 0;
}

.header__branding:active .header__branding__logo {
  transform: translateY(calc(-50% + 1px));
}

.header__branding__logo {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

/*
.logo_desktop {
  @include media_600 {
    display: none;
  }
}

.logo_mobile {
  display: none;
  @include media_600 {
    display: block;
  }
}
*/

.logo_square {
  position: absolute;
  width: 145px;
  height: 100%;
  background: $red;
  left: 121px;
  top: 0;
}

.social_links {
  text-align: right;
}

.social_links li {
  display: inline-block;
  vertical-align: middle;
}

.social_links li + li {
  margin-left: 15px;
}

.social_links a.linkedin {
  background: $linkedin;
}

.social_links a.github {
  background: $github;
}

.social_links a {
  width: 41px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  display: inline-block;
}

.social_links i {
  color: $white;
  font-size: 24px;
}

.social_links a.github i {
  font-size: 30px;
  padding-top: 5px;
}

.nav_primary {
  background: $brown;
  padding: 12px 0;
  height: 54px;
  box-sizing: border-box;
  @include media_600 {
    height: auto;
    overflow: hidden;
  }
}

.nav_primary_fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.nav_primary_regular {
  position: relative;
}

.nav_primary li {
  float: left;
  padding-left: 35px;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'icomoon' !important;
  font-size: 22px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include media_750 {
    padding-left: 0 !important;
    background: none !important;
  }
}

.nav_primary li:before {
  position: absolute;
  top: 3px;
  left: 0;
  @include media_750 {
    display: none;
  }
}

.nav_primary li + li {
  margin-left: 60px;
  @include media_800 {
    margin-left: 40px;
  }
  @include media_750 {
    margin-left: 35px;
  }
  @include media_600 {
    margin-left: 29px;
  }
}

.nav_primary li.menu_portfolio,
.nav_primary li.menu_quote {
  float: right;
  @include media_600 {
    float: left;
  }
}

.nav_primary a {
  @include top_menu;
  color: $white;
  display: block;
}

.nav_primary .menu_home {
  @include media_960 {
    display: none;
  }
  @include media_600 {
    display: block;
    text-indent: -9999px;    
    background-size: contain !important;
    width: 25px;
    height: 28px;
    background: url( '../images/logo_mobile.svg' ) 0 50% no-repeat !important;
  }
}

.nav_primary .menu_home a {
  transition: none;
}

.nav_primary .menu_home:before {
  content: "\e902";
}

.nav_primary .menu_home.menu_home--sticky {
  display: block;
  text-indent: -9999px;
  background: url( '../images/logo_desktop.svg' ) 0 50% no-repeat !important;
  background-size: contain !important;
  width: 150px;
  height: 30px;
  padding-left: 0;
  position: relative;
  margin-right: 43px;
}

.nav_primary .menu_home.menu_home--sticky:after {
  position: absolute;
  content: '';
  left: 85px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 54px;
  background: $red;
  z-index: -1;

}

.nav_primary .menu_about {
  background-position: 0 1px;
  padding-left: 32px;
  @include media_960 {
    margin: 0 0 0 30px;
  }
}

.nav_primary .menu_about:before {
  content: "\e971";
}

.nav_primary .menu_contact {
  @include media_600 {
    margin-left: 0;
  }
}

.nav_primary .menu_contact:before {
  content: "\e96b";
  top: 4px;
}

.nav_primary .menu_portfolio {
  margin-left: 0;
  padding-left: 39px;
  @include media_600 {
    display: none;
  }
}

.nav_primary .menu_portfolio:before {
  content: "\e90f";
}

.nav_primary .menu_portfolio a {
  color: $yellow;
  @include media_600 {
    color: $white;
  }
  @include media_415 {
    color: $yellow;
  }
}

.nav_primary .menu_about,
.nav_primary .menu_contact {
  @include media_600 {
    float: right;
  }
}

.nav_primary li.current-menu-item a,
.nav_primary a:hover {
  color: $red;
}