.banner {  
  width: 100%;  
  background: url(../images/header.jpg) 50% 0 repeat-x;  
  @include mq_600 {
    display: none;
  }
}

.container.container--header {  
  width: 100%;
  display: table;
  @include mq_1225 {
    box-sizing: border-box;
  }
}

.banner,
.container.container--header {
  height: 152px;
  @include mq_800 {
    height: 120px;
  }
}

.header__branding,
.social_links {
  vertical-align: middle;
  display: table-cell;
}

.header__branding {
  width: 150px;
  height: 52px;
}

.header__branding__logo {
  width: 100%;
}

.social_links {
  text-align: right;
}

.social_links li {
  display: inline-block;
  vertical-align: middle;
}

.social_links li + li {
  margin-left: 15px;
}

.social_links a.linkedin {
  background: $linkedin;
}

.social_links a.github {
  background: $github;
}

.social_links a {
  width: 41px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  display: inline-block;
}

.social_links i {
  color: $white;
  font-size: 24px;
}

.social_links a.github i {
  font-size: 30px;
  padding-top: 5px;
}

.nav_primary_wrap {
  height: 54px;
}

.nav_primary {
  background: $brown;
  padding: 12px 0;  
}

.nav_primary_fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.nav_primary_regular {
  position: relative;
}

.nav_primary li {
  float: left;
  padding-left: 35px;
  background-repeat: no-repeat;
  position: relative;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-size: 22px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include mq_750 {
    padding-left: 0 !important;
    background: none !important;
  }  
}

.nav_primary li:before {
  position: absolute;
  top: 3px;
  left: 0;
  @include mq_750 {
    display: none;
  }
}

.nav_primary li + li {
  margin-left: 60px;
  @include mq_800 {
    margin-left: 40px;
  }
  @include mq_750 {
    margin-left: 35px;
  }
  @include mq_600 {
    margin-left: 29px;
  }
}

.nav_primary li.menu_portfolio,
.nav_primary li.menu_quote {
  float: right;
  @include mq_600 {
    float: left;
  }
}

.nav_primary a {
  @include top_menu;
  color: $white;
}

.nav_primary .menu_home {
  @include mq_960 {
    display: none;
  }
  @include mq_600 {
    display: block;
    text-indent: -9999px;
    background: url( '../images/baia_logo.svg' ) 0 50% no-repeat !important;
    background-size: contain !important;
    width: 95px;
    height: 25px;
  }
}

.nav_primary .menu_home:before {
  content: "\e902";
}

.nav_primary .menu_home.menu_home--sticky {
  display: block;
  text-indent: -9999px;
  background: url( '../images/baia_logo.svg' ) 0 50% no-repeat !important;
  background-size: contain !important;
  width: 70px;
  height: 25px;
  padding-left: 0;
}

.nav_primary .menu_about {
  background-position: 0 1px;
  padding-left: 32px;
  @include mq_960 {
    margin: 0;
  }
  @include mq_600 {
    display: none;
  }
}

.nav_primary .menu_about:before {
  content: "\e971";
}

.nav_primary .menu_contact {
  @include mq_600 {
    margin-left: 0;
  }
  @include mq_415 {
    display: none;
  }
}

.nav_primary .menu_contact:before {
  content: "\e96b";
  top: 4px;
}

.nav_primary .menu_portfolio {
  margin-left: 0;
  padding-left: 39px;
  @include mq_600 {
    margin-left: 29px;
  }
  @include mq_415 {
    margin-left: 0;
  }
}

.nav_primary .menu_portfolio:before {
  content: "\e90f";
}

.nav_primary .menu_quote {
  @include mq_500 {
    display: none;
  }
}

.nav_primary .menu_quote:before {
  content: "\e930";
}

.nav_primary .menu_portfolio a,
.nav_primary .menu_quote a {
  color: $yellow;
  @include mq_600 {
    color: $white;
  }
  @include mq_415 {
    color: $yellow;
  }
}

.nav_primary li.current-menu-item a,
.nav_primary a:hover {
  color: $red;
}

/*
.icon-linkedin,
.icon-github {
  font-family: 'icomoon' !important;
  font-size: 22px;
  color: blue;
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-github:before {
  content: "\eab0";
}
*/