.mobile_menu {
  background: $mobile_menu_bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: getIndex(mobile_menu);
  display: none;
  @include mq_600_up {
    display: none !important;
  }
}

.mobile_menu a {
  @include mobile_menu;
  display: block;  
  color: $white;  
  padding: 10px;
}

.mobile_menu li.current-menu-item a,
.mobile_menu a:hover {
  color: $red;
}

.container--nav_primary {
  position: relative;
}

.mobile_menu_link {
  display: none;  
  float: right;
  @include mq_600 {
    display: block;
    position: absolute;
    width: 200px;
    height: 30px;
    background: url('../images/mobile_menu_link.png') 0 0 repeat-y;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    padding-right: 20px;
  }
}

.mobile_menu_link i {
  font-size: 25px;
  position: absolute;
  right: 65px;
  top: 50%;
  transform: translateY(-50%);
}

.mobile_menu_link span {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 5px;
  line-height: 40px;
}

.mobile_menu_close {
  position: absolute;
  top: 5px;
  right: 25px;
}

.mobile_menu_close i {
  font-size: 35px;
}