/* Colors */
$black: #333333;
$brown: #1d1815;
$red: #ff4b68;
$yellow: #fef399;
$white: #ffffff;
$gray1: #ebebeb;
$gray2: #d8cfc9;
$gray3: #1d1815;
$github: #333333;
$linkedin: #0274b3;
$mobile_menu_bg: rgba(32, 32, 32, 0.92);

/* Misc */
$mobile_side_margin: 20px;