/* Colors */
$black1: #333333;
$black2: #222;
$brown: #1d1815;
$red: #ff4b68;
$yellow: #fef399;
$white: #ffffff;
$gray0: #f4f4f4;
$gray1: #f6f6f6;
$gray2: #d8cfc9;
$gray3: #1d1815;
$gray4: #aaaaaa;
$gray5: #e8e8e8;
$gray6: #d4d4d4;
$gray7: #fcfcfc;
$gray8: #d7d7d7;
$gray9: #bbb;
$gray95: #bbb;
$trans_gray1: rgba(0,0,0,0.04);
$trans_gray2: rgba(0,0,0,0.08);
$github: #333333;
$linkedin: #0274b3;
$mobile_menu_bg: rgba(32, 32, 32, 0.92);

/* Misc */
$content_margin_mobile: 20px;
$content_width: 1200px;
$content_width_small: 900px;

/* Fonts */
$regular_text: 'Source Serif Pro', sans-serif;
$helvetica_black: 'helvetica_black', sans-serif;
$regular_sans: 'Lato', sans-serif;
$verdana: 'verdana', sans-serif;

@mixin regular_text {
  font-family: $regular_text;
  font-size: 21px;
  line-height: 1.6;
}

@mixin small_text {
  font-family: $regular_sans;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: $red;
  line-height: 1.6;
}

@mixin legend {
  font-size: 13px;
  color: $gray4;
  font-family: $regular_sans;
}

@mixin code {
  font-size: 18px;
  line-height: 1.8;
}

@mixin top_menu {
  font-family: $helvetica_black;
  letter-spacing: 0.03em;
  font-size: 19px;
  @include media_600 {
    font-size: 17px;
  }
}

@mixin page_heading {
  font-family: $helvetica_black;  
  line-height: 1;
  letter-spacing: 0.02em;
  font-size: 50px;
  @include media_768 {
    font-size: 40px;
  }
}

@mixin home_heading {
  font-family: $helvetica_black;  
  line-height: 1;
  letter-spacing: 0.02em;
  font-size: 42px;
  @include media_768 {
    font-size: 35px;
  }
}

@mixin section_heading {
  font-family: $helvetica_black;
  line-height: 1.4;
  font-size: 25px;
}

@mixin subsection_heading {
  font-family: $regular_sans;
  font-size: 23px;
}

@mixin subsection_heading_strong {
  font-family: $helvetica_black;
  font-size: 25px;
}

@mixin mobile_menu {
  font-family: $helvetica_black;
  font-weight: normal;
  font-size: 25px;
}

@mixin page_summary {
  font-size: 26px;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}

@mixin quote_button {
  font-size: 35px;
  font-family: $helvetica_black;
  width: 30%;
  letter-spacing: -0.02em;
}

@mixin big_link {
  font-family: $helvetica_black;
  font-size: 20px;
  color: $red;
  border-bottom: 1px solid $red;
}

@mixin label {
  font-family: $regular_sans;
  font-size: 21px;
  font-weight: bold;
}

@mixin footnote {
  font-family: $regular_sans;
  font-size: 16px;
  color: $gray9;
}