@import "core/variables";
@import "core/normalize";
@import "core/fonts";
@import "core/media-queries";
@import "core/header";
@import "core/footer";

body {
  background: url('../images/body.jpg') 50% 0 repeat; 
}

div {
  box-sizing: border-box;
}

.wrap {
  background-color: $white;
  position: relative;
  overflow: hidden;
  padding: 70px 0 100px;
}

.content_wrap {
  padding: 50px 0;
}

.container {
  max-width: $content_width;
  margin: 0 auto;
  overflow: hidden;
  @include media_1200 {
    padding-left: $content_margin_mobile;
    padding-right: $content_margin_mobile;
  }
}

.overflow.container {
  margin-bottom: 2em;
}

a,
body,
div,
p,
li,
textarea,
input,
select {
  @include regular_text;
  color: $black1;
}

.button,
a {
  position: relative;
}

p.container,
p {
  margin-bottom: 1.5em;
}

.button:active,
a:active {
  top: 1px;
}

a.linktype1 {
  color: $red;
  font-family: $helvetica_black;
  font-size: 18px;
}

h1 {
  @include page_heading;
  margin-bottom: 30px;
}

h2 {
  @include section_heading;
  margin-bottom: 30px;
}

p + h2,
p + h3 {
  margin-top: 2em;
}

h3 {
  @include subsection_heading;
  margin-bottom: 15px;
}

h3.container {
  margin-bottom: 15px;
}

.content a {
  border-bottom: 1px solid $black1;
}

.content_ul li,
.content li {
  position: relative;
  padding-left: 25px;
}

.content_ul li:before,
.content li:before {
  position: absolute;
  left: 0;
  top: 4px;
  font-family: 'icomoon' !important;
  font-size: 15px;
  content: "\ea1c";
  /*color: $gray2;*/
}

.content li strong {
  /*color: $red;*/
}

.content .alignleft {
  float: left;
}

.header_with_subtitle {
  margin-bottom: 25px;
}

.header_with_subtitle h1 {
  margin-bottom: 10px;
}

.page_header {
  margin-bottom: 60px;
}

.page_title {
  @include page_heading;
  margin-bottom: 30px;
}

.page_summary {
  color: $gray4;
  @include page_summary;
}

.page_summary strong {
  color: $gray3;
}

.page_header_link {
  @include page_summary;
  color: $red;
  border-bottom: 1px solid $red;
}

label {
  display: block;
  margin-bottom: 10px;
  @include label;
}

input {  
  width: 320px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid $gray8;
  line-height: 1;
  color: $gray95;
  border-radius: 3px;
  background: $gray0;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 240px;
}

label span {
  font-family: 'helvetica_black', sans-serif;
  font-size: 22px;
  color: $red;
}

.button {
  padding: 12px 10px;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 0.02em;
  font-family: 'helvetica_black', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 150px !important;
  text-align: center;
  display: block;
  background: $gray0;
  border-color: #D7D7D7;
  border-style: solid;
  border-width: 1px;
  color: $black1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 0 #fff inset;
  text-shadow: 0px 2px 1px #fff;
}

.button:hover {
  color: $black2;
  background: #f0f0f0;
}

.footnote {
  @include footnote;
}

.lightbox {
  background: $black1;
  position: fixed;
  display: none;  
  left: 0;
  right: 0;  
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  &.active {
    display: block;
  }
}

.lightbox__inner {
  background: $white;
  /*
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  */
  padding: 0;
  position: absolute;  
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  @include media_600 {
    transform: translate(-50%, 0);
    top: 25px;
  }
  .lightbox_close {
    position: absolute;
    color: $black1;
    cursor: pointer;
    font-size: 54px;
    border: none;    
    display: block;
    width: 95px;
    line-height: 95px;
    height: 95px;
    text-align: center;
    top: 0;
    z-index: 5;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    background: $white;
    &:hover {
      background: $gray1;
    }
  }
}

iframe {
  width: 100%;
  height: 100%;
  position: relative;
  border:0;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

@import "pages/frontpage";
@import "pages/frontpage_section_portfolio";
@import "pages/contact";
@import "pages/about";
@import "pages/quote";
@import "pages/single";