.content.content--about {
  overflow: visible;
}

.page_header--about {
  @include media_600 {
    margin-bottom: 40px;
  }
}

.content--about {
  display: flex;
  justify-content: space-between;
  @include media_768 {
    flex-direction: column-reverse;
  }
}

.page_summary--about {
  width: 50%;
}

.about_info {
  width: 55%;
  @include media_768 {
    width: auto;
  }
}

.about_illustration {  
  text-align: right;
  width: 40%;
  @include media_768 {
    width: auto;
  }
}

.about_illustration__img {  
  max-width: 100%;
  height: auto;
  margin-top: -185px;
  @include media_768 {
    margin: 0 0 30px;
  }
}

.about_skills {
  margin-top: 1em;
  margin-top: 0;
}

.about_skills strong {
  background: $yellow;
  padding: 0 5px;
  margin: 0 3px;
}

.about_skills li {
  margin-bottom: 1em;
}

.oatmeal {
  position: relative;
  top: 2px;
  display: none;
}


