.page_header.page_header--contact {
  padding-right: 30%;
  background: url(../images/pouf.png) right -13px no-repeat;
  min-height: 195px;
  margin-bottom: 40px;
  overflow: auto;
  @include media_768 {
    min-height: 0;
  }
}

.content--contact {
  display: flex;
  justify-content: space-between;
}

.page_summary--contact {
  width: 85%;  
}

.contact_form {
  width: 54%;
  padding-bottom: 2px;
  @include media_768 {
    width: 100%;
  }
}

.contact_sidebar {
  width: 38%;
  padding-top: 30px;
  @include media_768 {
    display: none;
  }
}

#message_human {
  width: 40px;
  display: inline;
  margin-right: 10px;
}

.contact_sidebar img {
  border: 1px solid $gray8;
  margin-top: 10px;
}

.contact_form input[type=submit] {
  margin-top: 50px;
}

.error,
.contact_success {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.error {
  color: $red;
}

.contact_success {
  margin-bottom: 5em;
}

.contact_success div,
.contact_success strong {
  color: $green;
  @include subsection_heading;  
  line-height: 2.2;
  @include media_768 {
    line-height: 1.5;
  }
}

.contact_success strong {
  display: block;
  @include home_heading;
  @include media_768 {
    margin-bottom: 20px;    
  }
}