.portfolio {
  display: none;
  /*background: $gray7;*/
}

.portfolio_entry {
  border: 1px solid $gray6;
  padding: 25px;
  position: relative;
  margin-bottom: 120px;
  background-color: $gray7;
}

.portfolio_entry__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.portfolio_entry__maincontent {
  margin: 1em 0 1.5em;
  max-width: 900px;
}

.portfolio_entry__footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.portfolio_entry_title {
  margin: 0;
}

.portfolio_entry_title span {
  font-family: $verdana;
}

.portfolio_entry_link {
  @include big_link;
}

.skills {
  color: $red;
}

.time_to_read {
  font-weight: bold;
}

/*
.portfolio_entry {
  position: relative;
  --square: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20"><rect width="20" height="20" fill="#ffffff" stroke="#000" stroke-width="3"/></svg>');
}

.portfolio_entry:before {
  content: '';
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background-image: var(--square), var(--square), var(--square), var(--square), var(--square), var(--square), var(--square), var(--square);
  background-size: 8px 8px;
  background-position: 0 0, 100% 0, 0 100%, 100% 100%, 50% 0, 0 50%, 100% 50%, 50% 100%;
  background-repeat: no-repeat;
}
*/