.page_header.page_header--quote {
  padding-right: 30%;
  background: url(../images/quote.png) right -30px no-repeat;
  min-height: 195px;
  margin-bottom: 0;
}

.content.content--quote {
  margin: 50px 0 60px;
  display: flex;
  justify-content: space-between;
}

.content .quote_link {
  display: inline-block;
  @include quote_button;
  line-height: 110px;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: $gray6;
}

.quote_link:hover {
  background-color: $gray7;
}

.quote_link__caption {
  display: inline-block;
  position: relative;
  transform: translateX(25px);
}

.quote_link__caption:before {
  position: absolute;
  width: 52px;
  height: 52px;
  content: '';
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.quote_link__caption--website:before {
  background-image: url(../images/quote_website.png);
}

.quote_link__caption--logo:before {
  background-image: url(../images/quote_logo.png);
}

.quote_link__caption--general:before {
  background-image: url(../images/quote_other.png);
}